page-login {
    
    .header {
        background: color($colors, primary);
        text-align: center;
    }

    .page {
         background: white;
         margin: 0;
         padding: 0;
    }
    
    .titlebox {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 40px;
    }
    
    .logo {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    
    ion-img.glass {
        background: white;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    // ion-img.ff {
    //     position: absolute;
    //     top: 18px;
    //     left: 13px;
    //     background: transparent;
    // }
    
    h2.ff {
        position: absolute;
        font-size: 24px;
        top: 17px;
        left: 15px;
        margin: 0;
        background: transparent;
        color: color($colors, secondary);
    }
    
    h1.title {
        color: color($colors, primary);
        font-size: 56px;
        font-weight: 700;
        margin: 10px 0px 10px 0px;
    }
    
    .textbox {
        background: transparent;
        color: black;
        width: calc(100% - 20px);
        margin: 0;
    }
    
    .forgotpassword {
        // color: black;
        color: color($colors, secondary);
        text-decoration: underline;
        font-size: 12px;
        float: right;
        height: 36px;
        margin: 0;
        margin-right: 8px;
    }
    
    .forgotpassword:hover {
        background-color: white !important;
    }
    
    .register {
        background: color($colors, light);
        color: black;
        width: calc(50% - 22px);
        height: 45px;
        margin: 55px 6px 10px 15px;
        float: left;
    }
    
    .register:hover{
        background-color: color($colors, light) !important;
    }
    
    .login {
        background: color($colors, primary);
        color: white;
        width: calc(50% - 22px);
        height: 45px;
        margin: 19px 10px 10px 6px;
        float: left;
    }
    
    .login:hover{
        background-color: color($colors, primary) !important;
    }
    
    .item-input .label-md {
        color: color($colors, secondary);
    }

}
