page-login {
    
    .header {
        background: color($colors, primary);
        text-align: center;
    }

    .page {
         background: white;
         margin: 0;
         padding: 0;
    }
    
    .titlebox {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 30%;
        margin-bottom: 50px;
    }
    
    h1.title {
        color: color($colors, primary);
        font-size: 56px;
        font-weight: 700;
    }
    
    .textbox {
        background: transparent;
        color: black;
        width: calc(100% - 20px);
        margin: 0;
    }
    
    .register {
        background: color($colors, light);
        color: black;
        width: calc(50% - 22px);
        height: 45px;
        margin: 55px 6px 10px 15px;
    }
    
    .login {
        background: color($colors, primary);
        color: white;
        width: calc(50% - 22px);
        height: 45px;
        margin: 55px 10px 10px 6px;
    }
    
    .item-input .label-md {
        color: color($colors, secondary);
    }

}
