page-register {
    
    .header {
        text-align: center;
    }
    
    .page {
        background: white;
        margin: 0;
        padding: 0;
    }
    
    .textbox {
        width: calc(100% - 20px);
        margin: 0;
    }
    
    .register {
        width: calc(100% - 30px);
        height: 50px;
        margin-top: 30px;
        margin-left: 15px;
    }
    
    .item-input .label-md {
        color: color($colors, secondary);
    }

}
