page-profile {
    
   .header {
       background: color($colors, primary);
       text-align: center;
   }
   
   #profilebuttons {
       text-align: center;
   }
   
   #profiletext {
       color: black;
   }
   
   .username {
       font-size: 25px;
   }
   
   .viewoldposts {
       background: white;
       border: 1px solid #4CAF50;
       color: color($colors, primary);
   }
   
   .changepassword {
       background: white;
       border: 1px solid lightskyblue;
       color: lightskyblue;
       bottom: -50px;
   }
   
   .changeusername {
       background: white;
       border: 1px solid lightskyblue;
       color: lightskyblue;
       bottom: -50px;
   }
    
    .logout {
        background: orange;
        color: white;
        position: absolute;
        bottom: 60px;
        left: 10px;
        width: calc(100% - 20px);
    }
    
    .logout:hover{
        background-color: orange !important;
    }
    
    .delete {
        background: color($colors, danger);
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }

}
