page-profile {
    
    .header {
       text-align: center;
    }
    
    .page {
        margin: 0;
        padding: 0;
    }
    
    #profiletext {
       color: black;
       text-align: center;
    }
    
    #profiletext .name {
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 35px;
    }
    
    #profiletext .username {
        margin: 0;
       font-size: 25px;
       color: color($colors, secondary);
    }
    
    #profiletext .thanksnumber {
       font-size: 45px;
       margin: 0px;
       margin-top: 60px;
    }
    
    #profiletext .thankstext {
       font-size: 20px;
       margin: 0px;
       color: color($colors, secondary);
    }
    
    .oldposts {
        background: color($colors, primary);
        color: white;
        position: absolute;
        bottom: 65px;
        left: 10px;
        width: calc(100% - 25px);
    }
    
    .oldposts:hover {
        background-color: color($colors, primary) !important;
    }
    
    .settings {
        background: color($colors, secondary);
        color: white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: calc(100% - 25px);
    }
    
    .settings:hover {
        background: color($colors, secondary) !important;
    }
}
