page-feed {
    
    .header {
        text-align: center;
    }
    
    .page {
        margin: 0;
        padding: 0;
        background: #fafafa;
    }
    
    .postgreen {
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        position: relative;
        box-shadow: 1px 1px 1px color($colors, primary);
    }
    
    .postred {
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        position: relative;
        box-shadow: 1px 1px 1px color($colors, danger);
    }
    
    .post h3.username {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .post h3.location {
        font-size: 14px;
    }
    
    .post .numbers {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    
    .post h3.numthanks {
        font-size: 20px;
        color: color($colors, primary);
        background: transparent;
        float: right;
    }
    
    .post h3.numgone {
        font-size: 20px;
        color: color($colors, danger);
        background: transparent;
        float: right;
        padding-right: 5px;
    }
    
    .post p.info {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .post .thanks {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, secondary);
        margin: 0;
        margin-left: 10px;
    }
    
    .thanks:hover{
        background-color: color($colors, light) !important;
    }
    
    .post .mythanks {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, primary);
        margin: 0;
        margin-left: 10px;
    }
    
    .mythanks:hover{
        background-color: color($colors, light) !important;
    }
    
    .post .gone {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, secondary);
        margin: 0;
    }
    
    .gone:hover{
        background-color: color($colors, light) !important;
    }
    
    .post .mygone {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, danger);
        margin: 0;
    }
    
    .mygone:hover{
        background-color: color($colors, light) !important;
    }

}
