page-feed {
    
    .header {
        text-align: center;
    }
    
    .page {
        margin: 0;
        padding: 0;
        background: #fafafa;
    }
    
    .post {
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
    }
    
    .post h3.username {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .post h3.location {
        font-size: 14px;
    }
    
    .post p.info {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .post .thanks {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, primary);
        margin: 0;
        margin-left: 10px;
    }
    
    .post .eaten {
        width: calc(50% - 7px);
        background: color($colors, light);
        color: color($colors, danger);
        margin: 0;
    }

}
